:host {
    --default-bg-color: #001E2F;
    --bg-color: #193443;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username,
.logo {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}