:host {
    --default-bg-color: #001E2F;
    --bg-color: #193443;
}

.username,
.logo {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.custom-background {
    background-color: var(--bg-color)
}

.default-background {
    background-color: var(--default-bg-color)
}