:host {
    --main-color: #4DD9EC;
}

.add-friend {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 350px;
}

.add-friend__button {
    background-color: var(--main-color);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    max-width: 400px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

.friends-list__tabs {
    display: flex;
    width: 50%;
    margin-bottom: 20px;
}

.friends-list__tab {
    flex-grow: 1;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #555;
    position: relative;
    font-weight: bold;
}

.friends-list__tab.active {
    color: var(--main-color);
}

.friends-list__tab.active::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    left: 45px;
    right: 45px;
}

.friends-list__template {
    display: flex;
    margin-top: 20px;
    width: 40%;
}

.friends-list__template img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.friends-list__template-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.friends-list__template-info--username {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: left;
}

.friends-list__template-info--status {
    color: #777;
    font-size: 16px;
}

.friends-list__request-template {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    margin-top: 20px;
}

.friends-list__request-template img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.friends-list__request-template-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.friends-list__request-template--username {
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin-left: 10px;
    text-align: left;
}

.friends-list__request-template--icons {
    display: flex;
    align-items: center;
}

.friends-list__request-template--icons i {
    font-size: 28px;
    margin-right: 35px;
    cursor: pointer;
}

.friends-list__request-template--icons .fa-check {
    color: #2c974b;
}

.friends-list__request-template--icons .fa-times {
    color: #CF4A30;
}

.page-content {
    padding-top: 50px;
}