<div class="add-friend-button-container">
    <button class="add-friend-button">ADD A FRIEND</button>
</div>
<div class="friends-list-container">
    <div class="tabs-container">
        <div class="tab" [ngClass]="{ 'active': friendsTabActive, 'inactive': !friendsTabActive }"
            (click)="activateFriendsTab()">
            FRIENDS
        </div>
        <div class="tab" [ngClass]="{ 'active': !friendsTabActive, 'inactive': friendsTabActive }"
            (click)="activateRequestsTab()">
            REQUESTS
        </div>
    </div>

    <div class="search-container" *ngIf="friendsTabActive">
        <input type="text" placeholder="Find a friend" class="friend-search-input">
    </div>
    <!-- TODO search friends -->
    <div class="friend-template" *ngIf="friendsTabActive">
        <img src="/assets/photos/in-logo.png" alt="User Photo">
        <div class="friend-info">
            <div class="username">username</div>
            <div class="status">Active now</div>
        </div>
    </div>
</div>