.user {
    display: flex;
    justify-content: flex-end;
}

.username {
    color: white;
    text-align: right;
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.user img {
    margin-left: 15px;
    padding-top: 20px;
    padding-right: 50px;
}