<div class="profile__page">
    <div class="profile">
        <div class="profile__image">
            <img src="/assets/photos/in-logo.png" alt="User Image">
        </div>
        <div class="profile__info">
            <div class="profile__username">Username</div>
            <button class="profile__button" (click)="openFollowersModal()">FOLLOWERS / FOLLOWING</button>
        </div>
    </div>
    <hr class="profile__line">
    <div class="profile__bio">
        <div class="profile__bio-title">Bio</div>
        <p class="profile__bio-text">Lorem ipsum</p>
    </div>
    <hr class="profile__line">
    <div class="profile__posts">
        <div class="profile__posts-title">Today's post</div>
        <img src="/assets/photos/in-logo.png" alt="Today's Post">
    </div>
</div>