<div class="form-container">
    <form [formGroup]="registerForm">
        <div class="col-sm-16 form-group">
            <input formControlName="nickname" type="text" id="nickname" class="form-control" placeholder="Nickname">
        </div>
        <div class="col-sm-16 form-group">
            <input formControlName="email" type="text" id="email" class="form-control" placeholder="Email">
        </div>
        <div class="col-sm-14 form-group">
            <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" id="password"
                class="form-control" placeholder="Password">
            <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
                <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"></fa-icon>
            </span>
        </div>
        <div class="col-sm-14 form-group">
            <input formControlName="repeatPassword" [type]="repeatpasswordVisible ? 'text' : 'password'"
                id="repeat_password" class="form-control" placeholder="Repeat password">
            <span class="password-toggle-icon" (click)="toggleRepeatPasswordVisibility()">
                <fa-icon [icon]="repeatpasswordVisible ? faEyeSlash : faEye"></fa-icon>
            </span>
        </div>
        <div class="col-sm-12 form-group">
            <button [disabled]="registerForm.invalid" class="register-button" (click)="onRegister()">REGISTER</button>
        </div>
    </form>
</div>
<div class="register-text" (click)="redirectToLogin()">Login to existing account</div>
<hr class="white-separator">
<div class="download-text">Download the app
</div>
<span class="app-icons">
    <i class="fab fa-google-play"></i>
    <i class="fab fa-app-store-ios"></i>
</span>
<div #bootstrapAlert style="display: none;"></div>