 .add-friend {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
     height: 600px;
     background-color: #4c616d;
     border: 1px solid black;
     z-index: 1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
 }

 .modal-title {
     color: white;
     font-weight: bolder;
     font-size: 20px;
     text-align: center;
 }

 .modal-search-bar {
     padding-top: 20px;
     color: white;
 }

 .modal-close {
     background-color: red;
     color: white;
     margin-bottom: 10px;
     align-self: flex-start;
 }

 .modal-send-request {
     background-color: green;
     color: white;
     margin-bottom: 10px;
     margin-left: 150px;
     align-self: flex-end;
 }

 .add-friend-template {
     display: flex;
     align-items: left;
     width: 80%;
     justify-content: space-between;
     margin-bottom: 350px;
 }

 .add-friend-template img {
     width: 35px;
     height: 35px;
     margin-right: 5px;
 }

 .add-friend-template__info {
     display: flex;
     align-items: left;
     justify-content: space-between;
     flex-grow: 1;
 }

 .add-friend-template__username {
     font-weight: bold;
     color: white;
     font-size: 22px;
     margin-left: 10px;
     text-align: left;
 }

 .add-friend-template img.selected,
 .add-friend-template__info.selected {
     background-color: #667882;
     height: 35px;
     transition: background-color 0.3s;
 }

 .darken-page {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 0;
 }

 .alert-bottom {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     margin-bottom: 20px;
     margin-left: 20px;
     width: 400px;
     z-index: 2;
 }